<section id="tabs" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <nav class="mb-4">
          <h6 class="h4 text-light navbar-brand">
            <i class="fab fa-angular"></i> Angular
          </h6>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-outline-info"
            data-toggle="modal"
            data-target="#exampleModal"
            style="background-color: #181a1b;"
          >
            About This Project
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content text-center">
                <h5 class="h3 d-block py-3 bg-dark" id="exampleModalLabel">
                  About
                </h5>
                <div class="modal-body bg-dark">
                  <p>
                    This is a sandbox project I've used to learn angular along
                    with its functionalities, and built-in configurations
                    <br />
                  </p>
                  <hr />
                  Check it out on <br />
                  <a
                    type="button"
                    href="https://github.com/RomanMunar/angular-starter-plate"
                    class="btn btn-dark"
                    style="background-color: #23272b;"
                    ><i class="fab fa-github"></i> Github</a
                  >
                </div>
                <div class="modal-footer bg-dark">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    <i class="fas fa-times"></i> Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <div
              class="nav-item nav-link active"
              id="nav-home-tab"
              data-toggle="tab"
              href="#nav-home"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
            >
              Users
            </div>
            <div
              class="nav-item nav-link"
              id="nav-profile-tab"
              data-toggle="tab"
              href="#nav-profile"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
            >
              Posts
            </div>
          </div>
        </nav>
      </div>

      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <app-users></app-users>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <app-posts></app-posts>
        </div>
      </div>
    </div>
  </div>
</section>
